<h1>List of Animals</h1>
    <% animals.forEach((animal, index) => { %>
    <ul>
        <a href="/animal/<%= animal._id %>">
        <li>
            <%= animal.species %>
        </li>
        </a>
    </ul>
    <% }) %>