<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<div class="container">
<h1> Add New Animal </h1>

<form action="/animal" method="POST">
    <input type="text" name="species" placeholder="Species"><br>
    Is this Animal Extinct?<br>
    Yes:<input type="checkbox" name="extinct"><br>
    <input type="text" name="location" placeholder="Animal Location"><br>
    <input type="number" name="lifeExpectancy" placeholder="Life Span"><br>
    <input type="submit" value="Add Animal">
</form>
</div>
</body>